---
import { useCases } from '../../data/automation';
import SectionIntro from '../studio/SectionIntro.astro';
import Container from '../studio/Container.astro';
import GridList from '../studio/GridList.astro';
import GridListItem from '../studio/GridListItem.astro';
---

<div id="automation-cases">
  <SectionIntro
    eyebrow="Casos de uso"
    title="Qué puedes automatizar."
    class="mt-24 sm:mt-32 lg:mt-40"
  />
  <Container class="mt-16">
    <GridList>
      {useCases.map((uc) => (
        <GridListItem title={uc.title}>{uc.description}</GridListItem>
      ))}
    </GridList>
  </Container>
</div>
