---
import FadeIn from './FadeIn.astro';
import Border from './Border.astro';
interface Props { title?: string }
const { title } = Astro.props;
---
<li class="group mt-10 first:mt-0">
  <FadeIn>
    <Border class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden">
      {title && <strong class="font-semibold text-neutral-950">{`${title}. `}</strong>}
      <slot />
    </Border>
  </FadeIn>
</li>
