---
import Container from './Container.astro';
import FadeIn from './FadeIn.astro';

interface Props {
  eyebrow: string;
  title: string;
  centered?: boolean;
}
const { eyebrow, title, centered = false } = Astro.props;
---
<Container class:list={['mt-24 sm:mt-32 lg:mt-40', centered && 'text-center']}>
  <FadeIn>
    <h1>
      <span class="block font-display text-base font-semibold text-neutral-950">{eyebrow}</span>
      <span class="sr-only"> - </span>
      <span
        class:list={[
          'mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-balance text-neutral-950 sm:text-6xl',
          centered && 'mx-auto',
        ]}
      >
        {title}
      </span>
    </h1>
    <div class:list={['mt-6 max-w-3xl text-xl text-neutral-600', centered && 'mx-auto']}>
      <slot />
    </div>
  </FadeIn>
</Container>
